<!DOCTYPE html>
<html lang="en">

<head>
    <title> Maths4Kids </title>
    <meta charset="utf-8">
    <style>

    </style>
    <script src="../AdditionTest.js"></script>
</head>

<body>

<main>

    <nav>
        <ul>
        {% for num in numArray %}
            <!--<li><a href="../public/index.php?action=additionPage"> + {{ num }} </a></li>

            <form action="../public/index.php?action=additionTest" method="GET">-->
            <form>
                <input type="hidden" name="addNum" value= {{ num }}>

                <!--<a href="../templates/additionTest.html?addNum={{ num }}">+ {{ num }}</a>-->
                <a href="/js/additionTest.html" onclick="runAdditionTest({{ num }})">{{ num }}</a>
            </form>


        {% endfor %}
        </ul>
    </nav>
</main>
<footer>
    <hr>
    <a href="mailto:B00084443@student.itb.ie">Email</a>
    Kevin Drennan B00084443
    <a href="index.html.twig?action=sitemap">sitemap</a>
</footer>
</body>
</html>
